<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALg0LeBZyKjKztR1vvFJ565nqq__PCKuw</string>
	<key>GCM_SENDER_ID</key>
	<string>815166761161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pang.Poentjak</string>
	<key>PROJECT_ID</key>
	<string>poentjakfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>poentjakfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815166761161:ios:bb9a939ff87476eb0f4518</string>
</dict>
</plist>